In [39]:
import config
from oandapyV20 import API
import oandapyV20.endpoints.instruments as instruments

In [40]:
# Setup OANDA connection
client = API(access_token=config.OANDA_API_KEY)

In [41]:
# define variables
timeframe = "M15"
instrument = "GBP_JPY"

In [38]:
#Get Candle Data

#Ask for the price and set the timeframe
params = {
    "granularity": timeframe,
    "price" : "A" 
}

r = instruments.InstrumentsCandles(instrument=instrument, params=params)
candles = client.request(r)['candles']

#parse through data

data = []

for c in candles:
    if c["complete"]:
        data.append(
            {
                "time": c["time"],
                "open": float(c["ask"]["o"]),
                "high": float(c["ask"]["h"]),
                "low": float(c["ask"]["l"]),
                "close": float(c["ask"]["c"]),
            }
        )


#and use pandas for better representation

df = pd.DataFrame(data)
df

                               time     open     high      low    close
0    2025-05-20T15:45:00.000000000Z  193.437  193.592  193.437  193.497
1    2025-05-20T16:00:00.000000000Z  193.497  193.533  193.387  193.454
2    2025-05-20T16:15:00.000000000Z  193.456  193.562  193.451  193.477
3    2025-05-20T16:30:00.000000000Z  193.477  193.692  193.476  193.679
4    2025-05-20T16:45:00.000000000Z  193.681  193.693  193.635  193.648
..                              ...      ...      ...      ...      ...
494  2025-05-27T19:15:00.000000000Z  194.959  194.968  194.935  194.960
495  2025-05-27T19:30:00.000000000Z  194.958  194.961  194.926  194.940
496  2025-05-27T19:45:00.000000000Z  194.941  194.950  194.882  194.936
497  2025-05-27T20:00:00.000000000Z  194.930  195.021  194.895  195.008
498  2025-05-27T20:15:00.000000000Z  195.009  195.037  194.941  194.948

[499 rows x 5 columns]